<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="matrixPrimaryForm">
    <form [formGroup]="matrixPrimaryForm" >
      <ng-template matStepLabel>Введите основные параметры</ng-template>
      <div class="step-form">
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Наименование"/>
        </mat-form-field>
        <mat-checkbox formControlName="useWeight">
          Использовать вес
        </mat-checkbox>
      </div>
    </form>
    <div class="buttons">
      <button mat-button matStepperNext>Дальше</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="criteriasGroup">
    <form [formGroup]="criteriasGroup">
      <ng-template matStepLabel>Заполните критерии</ng-template>
      <div class="step-form">
        <div>
         Количество критериев
          {{criteriasGroup.get('count').value}}

          <button mat-icon-button color="primary" (click)="plusCriteria()" > <mat-icon>add</mat-icon></button>
          <button mat-icon-button color="primary" (click)="minusCriteria()"> <mat-icon>remove</mat-icon></button>
        </div>
        <button mat-raised-button color="accent" style="width: 200px; margin-top: 10px; margin-bottom: 20px" [satPopoverAnchor]="satPP1"
                (click)="satPP1.toggle()">Добавить из памяти</button>

        <sat-popover #satPP1
                     hasBackdrop
                     horizontalAlign="after" verticalAlign="below"
                     (closed)="addBulkCriterias($event)"
        >
          <app-inline-add-criteria-bulk></app-inline-add-criteria-bulk>
        </sat-popover>

        <button mat-button color="warn" style="width: 200px; margin-top: 5px; margin-bottom: 20px" (click)="clearCriterias()">Очистить</button>

        <div formArrayName="criterias">
          <div *ngFor="let criteria of criterias.controls; let i=index">
            <div [formGroupName]="i">
              <mat-form-field style="width: 450px">
                <input matInput type="text" formControlName="value" placeholder="Критерий {{i+1}}"/>
              </mat-form-field>
              <mat-form-field *ngIf="useWeight" style="margin-left: 50px; width: 100px">
                <input matInput type="number" formControlName="weight" placeholder="Введите вес"/>
              </mat-form-field>
              <button style="margin-left: 20px" mat-icon-button color="accent" (click)="deleteCriteria(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>

      </div>
    </form>
    <div class="buttons">
      <button mat-button matStepperNext>Дальше</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="entitysGroup">
  <form [formGroup]="entitysGroup">
    <ng-template matStepLabel>Заполните сущности</ng-template>
    <div class="step-form">
      <div>Количество сущностей
        {{entitysGroup.get('count').value}}
        <button mat-icon-button color="primary" (click)="plusEntity()" > <mat-icon>add</mat-icon></button>
        <button mat-icon-button color="primary" (click)="minusEntity()"> <mat-icon>remove</mat-icon></button>
      </div>

      <button mat-raised-button color="accent" style="width: 200px; margin-top: 10px; margin-bottom: 20px" [satPopoverAnchor]="satPP2"
              (click)="satPP2.toggle()">Добавить из памяти</button>

      <sat-popover #satPP2
                   hasBackdrop
                   horizontalAlign="after" verticalAlign="below"
                   (closed)="addBulkEntitys($event)"
      >
        <app-inline-add-entity-bulk></app-inline-add-entity-bulk>
      </sat-popover>

      <button mat-button color="warn" style="width: 200px; margin-top: 5px; margin-bottom: 20px" (click)="clearEntitys()">Очистить</button>

      <div formArrayName="entitys">
        <div *ngFor="let entity of entitys.controls; let i=index">
          <div [formGroupName]="i">
            <mat-form-field>
              <input matInput type="text" formControlName="value" placeholder="Сущность {{i+1}}"/>
            </mat-form-field>
            <button style="margin-left: 20px" mat-icon-button color="accent" (click)="deleteEntity(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>

    </div>
  </form>
  <div class="buttons">
    <button mat-button matStepperNext >Дальше</button>
  </div>
  </mat-step>
  <mat-step [stepControl]="entitysGroup">
    Сохранить матрицу?
    <div class="buttons">
      <button mat-raised-button color="primary" (click)="onSubmit()" >Сохранить</button>
      <mat-error *ngIf="isSaveError">Не удалось сохранить. Попробуйте ещё раз</mat-error>
<!--      <button mat-button color="accent" (click)="stepper.reset();">Отменить изменения</button>-->
    </div>
  </mat-step>

</mat-horizontal-stepper>
<button mat-button color="warn" (click)="cancelAndGoBack()">Отмена</button>
