<app-subtitle title="Список тестов"
              [actions]="subtitleActions"
              (actionListener)="onSubtitleAction($event)"
></app-subtitle>
<div class="content-container">
  <div class="content-fitter">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="hide-field"> id</th>
        <td mat-cell *matCellDef="let element" class="hide-field"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="title-field title-field-header"> Название</th>
        <td mat-cell *matCellDef="let element" class="title-field"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef class="hide-field"> Описание</th>
        <td mat-cell *matCellDef="let element" class="hide-field"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="action-field"> Действия</th>
        <td mat-cell *matCellDef="let element"  class="action-field">
          <button mat-icon-button color="primary" aria-label="Просмотр и редактирование теста"
                  (click)="showAndEditTest(element.id)"
                  matTooltip="Изменить и посмотреть детали"
                  matTooltipPosition=right
                  matTooltipShowDelay=2000
          >
            <mat-icon>outbound</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
