table {
  width: 100%;
}

.action-header {
  margin-bottom: 20px;
  text-align: right;
}

.content-fitter {
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
}

.action-field {
  max-width: 50px;
}

@media (max-width: 668px) {
  .hide-field {
    display: none;
  }
  .action-field {
    max-width: 10px;
  }
  .title-field {
    padding-left: 5px;
    box-sizing: border-box;
  }

  .title-field-header {
    text-align: center;
  }
}
