<div class="main-page-container">
  <mat-toolbar color="primary" class="app-toolbar mat-elevation-z2">
    <span class="title-text">Matrix</span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>{{icon}}</mat-icon>
    </button>

    <button mat-button (click)="changeToMatrix()" class="navigation-header-button">
      Матрица
    </button>

    <button mat-button (click)="changeToTesting()" class="navigation-header-button">
      Тестирование
    </button>

    <span class="toolbar_spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="settingMenu">
      <mat-icon>account_box</mat-icon>
    </button>

  </mat-toolbar>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="changeToMatrix()">
      <mat-icon>view_comfy</mat-icon>
      <span>Матрица критериев</span>
    </button>
    <button mat-menu-item (click)="changeToTesting()" >
      <mat-icon>grading</mat-icon>
      <span>Тестирование</span>
    </button>
  </mat-menu>

  <mat-menu #settingMenu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Выход</span>
    </button>
  </mat-menu>


  <div class="subpage-container">
    <router-outlet></router-outlet>
  </div>
</div>
