<form [formGroup]="criteriaAddfFG" class="form_fields" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Критерий</mat-label>
    <textarea matInput formControlName="value"></textarea>
  </mat-form-field>
  <mat-form-field *ngIf="mHasWeight">
    <input type="number" matInput formControlName="weight">
  </mat-form-field>
  <div class="actions">
    <button mat-button type="button" color="primary" (click)="onCancel()">CANCEL</button>
    <button mat-button type="submit" color="primary">SAVE</button>
  </div>
</form>


