<div class="register_form_container">
  <mat-card class="register_form_card">
    <mat-card-title>
      Регистрация
    </mat-card-title>
    <mat-card-content>
      <div class="register_form">
        <mat-form-field>
          <input matInput [formControl]="login" placeholder="Логин">
        </mat-form-field>
        <mat-form-field>
          <input matInput [formControl]="password" placeholder="Пароль" type="password">
        </mat-form-field>
        <mat-form-field>
          <input matInput [formControl]="password2" placeholder="Пароль ещё раз" type="password">
        </mat-form-field>
      </div>
      <mat-error *ngIf="isErrorLogin">Регистрация не удалась</mat-error>
      <mat-error *ngIf="passwordError">Пароли не совпадают</mat-error>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onRegisterClick()">Зарегистрироваться</button>
      <button mat-button style="margin-top: 20px" color="primary" (click)="onBackClick()">Назад</button>
    </mat-card-actions>
  </mat-card>
</div>
