.register_form_container {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;

}

.register_form_card {
  width: 90%;
  align-self: center;
}
.register_form_card {
  width: 350px;
  align-self: center;
  margin-top: 20vh;
}
mat-card-actions {
  display: flex;
  flex-direction: column;
}

.login_form_card .mat-raised-button .mat-button{
  width: 100%;
  margin-top: 10px;
}

.register_form {
  display: flex;
  flex-direction: column;
}
