<ng-scrollbar class="virtual-scroll" thumbClass="white-scrollbars">
  <div *ngFor="let opros of oprosesToView">
    <mat-card>
      <mat-card-title>
        {{opros.createDate | date: "dd.MM.yy HH:mm"}}
      </mat-card-title>
      <mat-card-subtitle>
        Открыт: {{opros.open ? 'Да' : 'Нет'}}
      </mat-card-subtitle>
      <mat-card-content>
        Количество участников: {{opros.intervieweesCount}}
        <button mat-icon-button color="accent" (click)="refreshCount(opros.id)">
          <mat-icon>refresh</mat-icon>
        </button>
      </mat-card-content>
      <mat-card-actions>

        <button mat-button color="primary" (click)="showQR(opros.id)">QR код</button>
        <button mat-button color="primary" (click)="copyLink(opros.id)">Ссылка</button>
        <button mat-button color="primary" (click)="showResult(opros.id)">Результат</button>
        <button mat-button color="primary" (click)="showXls(opros.id)">Excel</button>
        <button *ngIf="opros.open" mat-button color="primary" (click)="stopOpros(opros.id)">Остановить</button>
        <button mat-button color="warn" [satPopoverAnchor]="pc" (click)="pc.toggle()">Удалить</button>
        <sat-popover #pc
                     hasBackdrop
                     horizontalAlign="after" verticalAlign="below"
                     (closed)="deleteOpros($event)"
        >
          <app-delete-submit text="Удалить опрос?" [id]="opros.id"></app-delete-submit>
        </sat-popover>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-scrollbar>
