@import '~@angular/material/theming';

:host {
  @include mat-elevation(2);
  display: block;
  background: #f9f9f9;
  border-radius: 2px;
  padding: 16px 24px 8px;
  min-width: 500px;
}

mat-form-field {
  width: 100%;

}
textarea {
  height: 250px;
}
form {
  display: flex;
  flex-direction: row;

}

.buttons-block {
  width: 120px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

button {
  height: 50px;
}
