<form (ngSubmit)="onSubmit()" [formGroup]="mForm">
  <mat-form-field>
    <mat-label>Скопируйте сюда данные из excel</mat-label>
    <textarea formControlName="textFromBuffer" matInput>
  </textarea>
  </mat-form-field>
  <div class="buttons-block">
    <button mat-raised-button type="submit" color="accent">Разобрать</button>
    <button mat-button type="button" color="accent" style="margin-top: 10px" (click)="onCancel()">Отмена</button>
  </div>
</form>
