<mat-toolbar color="primary" class="subtitle">
  <button *ngIf="showBackAction"
          mat-icon-button (click)="backAction.emit()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <span class="subtitle-text" [ngClass]="!showBackAction?'margin-text':''">{{title}}</span>
  <span class="toolbar_spacer"></span>
  <button mat-raised-button *ngFor="let action of actions" (click)="actionClick(action.actionId)" color="accent">
    {{action.title}}
  </button>
</mat-toolbar>
