.nav-menu-button {
  padding: 0;
}

.subtitle-text {
  font-size: 16px;
  font-weight: 400;
}

.margin-text {
  margin-left: 40px;
}

.toolbar_spacer {
  flex: 1 1 auto;
}


@media (max-width: 668px)  {

  .margin-text {
    margin-left: 0;
  }

}
