<div *ngIf="criteriasToEdit">
  <button style="margin-top: 20px; margin-bottom: 20px" mat-raised-button color="primary" [satPopoverAnchor]="addPc"
          (click)="addPc.toggle()">Добавить
  </button>
  <sat-popover #addPc
               hasBackdrop
               horizontalAlign="before" verticalAlign="below"
               (closed)="add($event)"
  >
    <app-inline-add-criteria [add]="true"
                             [hasWeight]="mHasWeight"
                             [criteria]="newCriteria"></app-inline-add-criteria>
  </sat-popover>

  <mat-list>
    <ng-scrollbar class="virtual-scroll" thumbClass="white-scrollbars">
      <mat-list-item *ngFor="let criteria of criteriasToEdit">
        <div>
          {{
          criteria.value.length>90 ?
            criteria.value.substr(0,90) + '...'
            :  criteria.value
          }}
        </div>
        <span class="toolbar_spacer"></span>
        <div>
          <button mat-icon-button color="primary" [satPopoverAnchor]="pc" (click)="pc.toggle()">
            <mat-icon>edit</mat-icon>
          </button>
          <sat-popover #pc
                       hasBackdrop
                       horizontalAlign="before" verticalAlign="below"
                       (closed)="update(criteria.id, $event)"
          >
            <app-inline-add-criteria [hasWeight]="mHasWeight" [criteria]="criteria"></app-inline-add-criteria>
          </sat-popover>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </ng-scrollbar>
  </mat-list>
</div>
