<div *ngIf="entitysToEdit">
  <button style="margin-top: 20px; margin-bottom: 20px" mat-raised-button color="primary" [satPopoverAnchor]="addPc"
          (click)="addPc.toggle()">Добавить
  </button>
  <sat-popover #addPc
               hasBackdrop
               horizontalAlign="before" verticalAlign="below"
               (closed)="add($event)"
  >
    <app-inline-add-entity [add]="true" [entity]="newEntity"></app-inline-add-entity>
  </sat-popover>
  <mat-list>
    <ng-scrollbar class="virtual-scroll" thumbClass="white-scrollbars">
      <mat-list-item *ngFor="let entity of entitysToEdit">
        <div>
          {{entity.value}}
        </div>
        <span class="toolbar_spacer"></span>
        <div>
          <button mat-icon-button color="primary" [satPopoverAnchor]="pc" (click)="pc.toggle()">
            <mat-icon>edit</mat-icon>
          </button>
          <sat-popover #pc
                       hasBackdrop
                       horizontalAlign="before" verticalAlign="below"
                       (closed)="update(entity.id, $event)"
          >
            <app-inline-add-entity [entity]="entity"></app-inline-add-entity>
          </sat-popover>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>

    </ng-scrollbar>
  </mat-list>
</div>
