ng-scrollbar.virtual-scroll {
  --scrollbar-size: 8px;
  --scrollbar-thumb-color: gray;
  --scrollbar-hover-size: 12px;
  --scrollbar-track-color: rgba(0, 0, 0, 0.05);
  --scrollbar-border-radius: 10px;

  margin: 1em;
  height: 400px;
  max-height: 400px;
  border-radius: 6px;
  //border: 1px solid gray;
  overflow: hidden;
}
