<div class="content-container">
  <div class="content-fitter">

    <h2 class="mat-h2">Ваши тесты</h2>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let activeTest of activeTests">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{activeTest.testName}}
          </mat-panel-title>
          <mat-panel-description>
            {{activeTest.complete ? 'Завершён' : 'Не пройден'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let process of activeTest.testProcessList" [ngClass]="{'complete-test' : process.complete}">
        <span class="date-view">
          {{pipe.transform(process.startDate, 'medium')}}
        </span>
          <button *ngIf="!process.complete" mat-icon-button color="accent" (click)="continueTest(process.id)">
            <mat-icon>forward</mat-icon>
          </button>
        </div>
        <mat-action-row>
          <button mat-raised-button color="primary" (click)="initNew(activeTest.testId)">Начать заново</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>


