.tests-container {
  display: flex;
  flex-direction: row;
}

mat-card {
  max-width: 200px;
}

.date-view {
  display: inline-block;
  min-width: 200px;
}

.complete-test {
  background-color: lightgreen;
}
