<form [formGroup]="entityAddfFG" class="form_fields" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Сущность</mat-label>
    <textarea matInput formControlName="value"> </textarea>
  </mat-form-field>
  <div class="actions">
    <button mat-button type="button" color="primary" (click)="onCancel()">CANCEL</button>
    <button mat-button type="submit" color="primary">SAVE</button>
  </div>
</form>


