@import '~@angular/material/theming';

.form_fields {
  display: flex;
  flex-direction: column;
}
:host {
  @include mat-elevation(2);
  display: block;
  background: #f9f9f9;
  border-radius: 2px;
  padding: 16px 24px 8px;
  min-width: 500px;
}
textarea {
  min-height: 100px;
}
