<!--<mat-toolbar color="primary" class="app-toolbar">-->
<!--  </mat-toolbar>-->
<app-subtitle title="Матрица критериев" class="subtitle"
              [actions]="subtitleActions"
              (actionListener)="onSubtitleAction($event)"
></app-subtitle>

<button mat-mini-fab class="fab" (click)="scrollToUp()" *ngIf="showScrollUp">
  <mat-icon>keyboard_arrow_up</mat-icon>
</button>

<div class="content-container">
  <div class="content-fitter" #container (window:resize)="onResize()">
    <mat-card *ngFor="let matrix of this.matrixes">
      <mat-card-title>
        <div>{{matrix.name}}</div>

      </mat-card-title>
      <mat-card-subtitle>
        Описание
      </mat-card-subtitle>
      <mat-card-content>
        Контент карточки
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="editMatrix(matrix.id)">Просмотр</button>
        <!--          <button mat-button color="warn" (click)="deleteMatrix(matrix.id)">Удалить</button>-->
        <button mat-button color="warn" [satPopoverAnchor]="pc" (click)="pc.toggle()">Удалить</button>

        <sat-popover #pc
                     hasBackdrop
                     horizontalAlign="after" verticalAlign="below"
                     (closed)="deleteMatrix($event)"
        >
          <app-delete-submit text="Удалить матрицу?" [id]="matrix.id"></app-delete-submit>
        </sat-popover>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

