ng-scrollbar.virtual-scroll {
  --scrollbar-size: 8px;
  --scrollbar-thumb-color: gray;
  --scrollbar-hover-size: 12px;
  --scrollbar-track-color: rgba(0, 0, 0, 0.05);
  --scrollbar-border-radius: 10px;

  margin: 1em;
  //height: 700px;
  max-height: 700px;
  border-radius: 6px;
  //border: 1px solid gray;
  overflow: auto;
}

mat-card {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  min-width: 300px;
  box-sizing: border-box;
}


.content-fitter {
  min-width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fab {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 1;
}

@media (max-width: 1024px) {
  .content-fitter {
    width: 100%;
    flex-direction: column;
  }

}

@media (max-width: 668px) {
  mat-card {
    width: 100%;
    margin: 0 0 5px 0;
  }
}
