
* {
  margin: 0;
  padding: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.header {
  background-color: darkslateblue;
  height: 80px;
  width: 100vw;
}

.page-root {
  /*margin-top: 80px;*/
  display: flex;
  flex-direction: column;
}

.sub-header {
  background-color: cadetblue;
  height: 80px;
  position: sticky;
  /*top:80px;*/
  top: 0;
}

.content {
  /*margin-top: 160px;*/
  background-color: coral;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  flex-grow: 1;
}

.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */


.card {
  width: 1000px;
  height: 100px;
  background-color: greenyellow;
  margin-bottom: 1px;
}
