.primary-edit-params {
  display: flex;
  flex-direction: column;
}

.primary-edit-buttons {
  margin-bottom: 20px;
}

.answer {
  //margin-left: 10px;
  margin-bottom: 10px;
}
.answers-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.answer-text {
  width: 100%;
  padding-bottom: 0;
}

.answer-checkbox {
  padding-top: 10px;
  box-sizing: border-box;
}

.answer-actions {
  display: flex;
  flex-direction: row;

}

mat-divider {
  margin-bottom: 20px;
}

mat-card-content{
  margin-bottom: 0;
}

.toolbar_spacer {
  flex: 1 1 auto;
}

.fab {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 1;
}

@media (max-width: 668px) {
  .content-container {
    padding: 5px;
    box-sizing: border-box;
  }
}
