<app-subtitle title="Вопрос"
              [showBackAction]="true"
              (backAction)="backToTest()"
></app-subtitle>

<!--<button mat-mini-fab class="fab" (click)="scrollToUp()" *ngIf="showScrollUp">-->
<!--  <mat-icon>keyboard_arrow_up</mat-icon>-->
<!--</button>-->

<div class="content-container">
  <div class="content-fitter">
    <form [formGroup]="questionEditFG">
      <div class="primary-edit-params" [formGroup]="questionFG">
        <mat-form-field appearance="outline">
          <mat-label>Вопрос</mat-label>
          <textarea matInput placeholder="Введите вопрос" formControlName="text"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field>
      </div>
      <div class="primary-edit-buttons">
        <button mat-raised-button color="primary" (click)="saveQuestion()" [disabled]=isEditButtonsDisabled>Сохранить
        </button>
        <button mat-button color="warn" (click)="refillForm()" [disabled]=isEditButtonsDisabled>Отмена</button>
        <button mat-button color="primary" (click)="addEmptyAnswerControl()">Добавить ответ</button>
      </div>
      <div class="answers-list">
        <div formArrayName="answers" *ngFor="let answer of answers.controls; let i=index">
          <!--        <div class="answer mat-elevation-z8" [formGroupName]="i">-->
          <!--          <mat-form-field class="answer-text" appearance="outline">-->
          <!--            <mat-label>Ответ {{i + 1}}</mat-label>-->
          <!--            <textarea matInput placeholder="Ответ" formControlName="answerText"-->
          <!--                      cdkTextareaAutosize-->
          <!--                      cdkAutosizeMinRows="1"-->
          <!--                      cdkAutosizeMaxRows="10"></textarea>-->
          <!--          </mat-form-field>-->
          <!--          <div class="answer-actions">-->
          <!--            <mat-checkbox formControlName="right" class="answer-checkbox"></mat-checkbox>-->
          <!--            <button mat-icon-button color="warn" (click)="deleteAnswer(i)">-->
          <!--              <mat-icon>delete</mat-icon>-->
          <!--            </button>-->
          <!--          </div>-->
          <!--          <mat-divider></mat-divider>-->
          <!--        </div>-->

          <mat-card [formGroupName]="i" class="answer mat-elevation-z8">
            <mat-card-content>
              <mat-form-field class="answer-text" appearance="outline">
                <mat-label>Ответ {{i + 1}}</mat-label>
                <textarea matInput placeholder="Ответ" formControlName="answerText"
                          cdkTextareaAutosize
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="10"></textarea>
              </mat-form-field>
            </mat-card-content>
            <mat-card-actions class="answer-actions">
              <mat-checkbox formControlName="right" class="answer-checkbox"></mat-checkbox>
              <span class="toolbar_spacer"></span>
              <button mat-icon-button color="warn" (click)="deleteAnswer(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-actions>

          </mat-card>
        </div>
      </div>
    </form>

  </div>
</div>


