<form (ngSubmit)="onSubmit()">

  <mat-form-field *ngIf="!mDigitalType">
    <input matInput maxLength="100" name="comment" [formControl]="valueEdit">
    <mat-hint align="end">{{valueEdit.value?.length || 0}}/140</mat-hint>
  </mat-form-field>

  <mat-form-field *ngIf="mDigitalType">
    <input matInput type="number" name="Оценка" [formControl]="valueEdit">
    <mat-hint align="end">От 1 до 10</mat-hint>
  </mat-form-field>

  <div class="actions">
    <button mat-button type="button" color="primary" (click)="onCancel()">CANCEL</button>
    <button mat-button type="submit" color="primary">SAVE</button>
  </div>
</form>
