@import '~@angular/material/theming';

:host {
  @include mat-elevation(2);
  display: block;
  background: #f9f9f9;
  border-radius: 2px;
  padding: 16px 24px 8px;
  min-width: 500px;
}

.mat-form-field {
  width: 100%;
  font-size: 14px;
}
@media (max-width: 768px) {
  .mat-form-field {
    width: 100%;
  }
  :host {
    min-width: 150px;
  }

}
