<app-subtitle title="Тест"
              [showBackAction]="true"
              (backAction)="backToAll()"
></app-subtitle>


<div class="content-container">
  <div class="content-fitter">
    <mat-tab-group>
      <mat-tab label="Редактор">
      <form [formGroup]="testEditFG" class="margin-before">
        <div class="primary-edit-params">
          <mat-form-field appearance="outline">
            <mat-label>Название</mat-label>
            <input matInput placeholder="Введите название теста" formControlName="name">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Описание</mat-label>
            <textarea matInput placeholder="Введите описание теста" formControlName="description"></textarea>
          </mat-form-field>
        </div>
      </form>

      <div class="edit-buttons">
        <button mat-raised-button color="primary" (click)="saveTestInfo()" [disabled]=isEditButtonsDisabled>Сохранить
        </button>

        <button mat-button color="warn" (click)="cancelEditing()" [disabled]=isEditButtonsDisabled>Отмена</button>

        <button mat-button color="primary" (click)="addQuestion()" [disabled]=isEditQuestionsDisabled>Добавить вопрос
        </button>

        <span class="toolbar_spacer"></span>
        <button mat-button color="warn" (click)="deleteTest()">Удалить</button>

      </div>

      <div class="edit-buttons edit-buttons-second">
        <button mat-button color="primary" (click)="copyLink()">Получить ссылку на тест
        </button>
      </div>

      <div class="mobile-edit-buttons">
        <button mat-icon-button color="primary" (click)="saveTestInfo()" [disabled]=isEditButtonsDisabled>
          <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="cancelEditing()" [disabled]=isEditButtonsDisabled>
          <mat-icon>cancell</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="addQuestion()" [disabled]=isEditQuestionsDisabled>
          <mat-icon>add_circle</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteTest()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <div class="mobile-edit-buttons mobile-edit-buttons-second">
        <button mat-icon-button color="primary" (click)="copyLink()">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </div>

      <h3 style="margin-top: 20px">Вопросы</h3>

      <div *ngIf="questions && questions.length > 0" class="question-block, mat-elevation-z8">
        <div cdkDropList class="list" (cdkDropListDropped)="dropQuestion($event)">
          <div class="box" *ngFor="let question of questions" cdkDrag>
            <span>{{question.text}}</span>
            <span class="toolbar_spacer"></span>
            <button mat-icon-button color="primary" (click)="openQuestion(question.id)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </div>
      </mat-tab>
      <mat-tab label="Статистика">
        <h1>Ведутся работы</h1>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
