.margin-before {
  margin-top: 20px;
}
form {
  width: 100%;
}

.primary-edit-params {
  display: flex;
  flex-direction: column;
}

.question-block {
  margin-top: 20px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.list {
  max-width: 100%;
  border: solid 1px #ccc;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}


.edit-buttons {
  display: flex;
  flex-direction: row;
}

.edit-buttons-second {
  margin-top: 20px;
}

.mobile-edit-buttons {
  display: none;
}

@media (max-width: 668px) {
  .content-container {
    padding: 5px;
    box-sizing: border-box;
  }

  .edit-buttons {
    display: none;
  }

  .mobile-edit-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    visibility: visible;
  }
  .mobile-edit-buttons-second {
    margin-top: 10px;
  }
}

