@import '~@angular/material/theming';

//// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-grey);
$app-accent:  mat-palette($mat-light-blue);
$app-warn:    mat-palette($mat-pink);
$app-blue:    mat-palette($mat-blue);
//
//// Create your Sass color vars (will be available in all the project)
//$primary: mat-color($app-primary);
//$accent: mat-color($app-accent);
//$warn: mat-color($app-warn);

.join_form_fields {
  display: flex;
  flex-direction: column;
}

.opros-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

mat-card {
  margin: 5px;
}

.criteriaDisplay {
  margin: 10px;
}


.answer-cell {
  padding-left: 15px;
}
.answer-action-cell {
  text-align: center;
}

.group-text {
  color: mat-color($app-blue);
  padding-left: 5px;
}

.tableRow {
  display: flex;
  flex-direction: row;
}
.tableHeaderRow {

}

.tableDataText{
  width: 70%;
  word-wrap: break-word;
  border: 1px solid black;
}

.tableDataAnswer{
  width: 28%;
  border: 1px black;
  border-style :  solid  solid  solid none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.answerData {
  width: 10vw;
  margin-left: 4px;
}

table {
  width: 100%;
}

.next_button {
  margin-top: 20px;
}

.plus-minus-block {
  display: flex;
  flex-direction: row;
}
