<div class="opros-container">
  <div class="content">
    <div *ngIf="isOprosOpen && !isOprosInProcess">
      <mat-card *ngIf="!isShowContiinueWindow">
        <form [formGroup]="fioForm" (ngSubmit)="submitFio()">
          <mat-card-title>
            Представьтесь
          </mat-card-title>
          <mat-card-content>

            <div class="join_form_fields">
              <mat-form-field>
                <input matInput placeholder="Фамилия" formControlName="f">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Имя" formControlName="i">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Отчество" formControlName="o">
              </mat-form-field>
            </div>

          </mat-card-content>

          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="!fioForm.valid">Продолжить</button>
          </mat-card-actions>
        </form>
      </mat-card>

      <mat-card *ngIf="isShowContiinueWindow">
        <form [formGroup]="fioForm">
          <mat-card-title>
            Продолжить?
          </mat-card-title>
          <mat-card-content>
            Похоже вы не закончили предыдущий опрос
          </mat-card-content>

          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" (click)="continueInterview()">Продолжить</button>
            <button mat-button color="primary" type="submit" (click)="doNewInterviewActions()" >Заново</button>
          </mat-card-actions>
        </form>
      </mat-card>
    </div>

    <mat-card *ngIf="!isOprosOpen">
      <h1>К сожалению, опрос уже закрыт</h1>
    </mat-card>


    <div *ngIf="isOprosInProcess && !isOprosEnded" style="margin-top: 20px">
      <div class="criteriaDisplay">
        <h2>Оценивается: <br/> {{criterias[currCriteriaIndex].value}}</h2>
      </div>
      <mat-horizontal-stepper linear #stepper (selectionChange)="onSelectionChange($event)">
        <!--      <mat-step [stepControl]="maxFG" [editable]="isEditable">-->
        <mat-step [stepControl]="maxFG" *ngIf="isNeedShowMax">
          <form [formGroup]="maxFG">
            <h3>Выберите сущность, которая имеет максимальное влияние на критерий</h3>
            <mat-form-field class="input_maxmin">
              <mat-select formControlName="maxEntitySelected">
                <mat-option *ngFor="let entity of entitys" [value]="entity.id">{{entity.value}}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>

          <button mat-button class="next_button" matStepperNext>Дальше</button>
        </mat-step>

        <mat-step [stepControl]="minFG" *ngIf="isNeedShowMin">
          <form [formGroup]="minFG">
            <h3>Выберите сущность, которая имеет минимальное влияние на критерий</h3>
            <mat-form-field class="input_maxmin">
              <mat-select formControlName="minEntitySelected">
                <mat-option *ngFor="let entity of entitysWithoutMax" [value]="entity.id">{{entity.value}}</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
          <!--        <button mat-button matStepperPrevious>Назад</button>-->
          <button mat-button class="next_button" matStepperNext>Дальше</button>
        </mat-step>

        <mat-step [stepControl]="tableValidControl">
          <h3>{{actionText}}</h3>

          <table class="mat-elevation-z8" *ngIf="groups.length > 0">
            <tr>
              <th>Сущность</th>
              <th [innerHTML]="testText"></th>
            </tr>
            <ng-container *ngFor="let gr of groups">
              <tr>
                <td><span class="group-text">{{gr.name}}</span></td>
              </tr>
              <tr *ngFor="let answer of getAnswersByGroup(gr.id)">
                <td class="answer-cell">{{answer.entityName}}</td>

                <td>
                  <div *ngIf="custom === 1" class="answer-action-cell">
                    <span [ngStyle]="{'color': (answer.error) ? 'red' : 'black'}">{{answer.answer}}</span>
                    <button mat-icon-button color="primary" (click)="plusClick(answer.entityId)"
                            [disabled]="answer.disabled">
                      <mat-icon>add_circle</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="minusClick(answer.entityId)"
                            [disabled]="answer.disabled">
                      <mat-icon>remove_circle</mat-icon>
                    </button>
                    <mat-icon *ngIf="answer.error" color="warn">error</mat-icon>
                  </div>
                  <div *ngIf="custom === 0">
                    <mat-slider [disabled]="answer.disabled" [thumbLabel]="true" min="0" [max]="maxRating" step="1"
                                [value]="answer.answer"
                                (change)="updateAnswer(answer.entityId, $event)"></mat-slider>
                  </div>
                </td>
                <mat-divider></mat-divider>
              </tr>
            </ng-container>

          </table>

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort *ngIf="groups.length == 0">

            <ng-container matColumnDef="entityName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Сущность</th>
              <td mat-cell *matCellDef="let element"> {{element.entityName}} </td>
            </ng-container>

            <ng-container matColumnDef="answer">
              <th mat-header-cell *matHeaderCellDef mat-sort-header [innerHTML]="testText">
              </th>
              <td mat-cell *matCellDef="let element">
                <div *ngIf="custom === 1">
                  <span [ngStyle]="{'color': (element.error) ? 'red' : 'black'}">{{element.answer}}</span>
                  <button mat-icon-button color="primary" (click)="plusClick(element.entityId)"
                          [disabled]="element.disabled">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" (click)="minusClick(element.entityId)"
                          [disabled]="element.disabled">
                    <mat-icon>remove_circle</mat-icon>
                  </button>
                  <mat-icon *ngIf="element.error" color="warn">error</mat-icon>
                </div>
                <div *ngIf="custom === 0">
                  <mat-slider [disabled]="element.disabled" [thumbLabel]="true" min="0" [max]="maxRating" step="1"
                              [value]="element.answer"
                              (change)="updateAnswer(element.entityId, $event)"></mat-slider>
                </div>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <button mat-button class="next_button" (click)="onClickAnswerTableStep()">Дальше</button>
        </mat-step>
        <mat-step>
          <h4 class="mat-error" *ngIf="showSendAnswerError"> Не удалось отправить ответ. Попробуйте ещё раз</h4>
          <button class="next_button" mat-raised-button color="primary" (click)="nextCriteria()">Следующий критерий
          </button>
        </mat-step>
      </mat-horizontal-stepper>
    </div>

    <div *ngIf="isOprosInProcess && isOprosEnded">
      <h1>Спасибо за ответы</h1>
    </div>
  </div>
</div>
