//table {
//  /* row spacing / margin */
//  border-spacing: 0 8px !important;
//}
//
//td.mat-cell {
//  /* row padding */
//  padding: 16px 0;
//  /* row border */
//  border-bottom: 1px solid #ffa600;
//  border-top: 1px solid #ffa600;
//}
//
//td.mat-cell:first-child {
//  /* row border */
//  border-left: 1px solid #ffa600;
//}
//
//td.mat-cell:last-child {
//  /* row border */
//  border-right: 1px solid #ffa600;
//}

th.mat-header-cell, td.mat-cell {
  //text-align: center;
  border: 1px solid #CCC;
  //padding: 0 !important;
}

:host ::ng-deep .mat-sort-header-container {
  justify-content: center;
  padding-left: 20px;
  right:10px;

}


th.mat-header-cell:last-of-type {
  padding: 0 !important;
}

.my_header {
  text-align: center;
  min-width: 150px;
  padding: 0 !important;
  color: darkslateblue;
}


.back-button {
  margin-bottom: 20px;
}
