<button mat-raised-button class="back-button" color="primary" (click)="back()">Назад</button>

<div *ngIf="!dataFetching && !noResultsError">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <ng-container *ngFor="let field of displayedColumns" matColumnDef="{{field}}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{getFieldName(field)}} </th>
      <td mat-cell [style]="getDataStyle(field)"
          *matCellDef="let element"> {{getFieldDataFormatted(field, element[field])}} </td>
    </ng-container>

    <ng-container *ngFor="let field of subheader" matColumnDef="{{field}}">
      <th class="my_header" mat-header-cell *matHeaderCellDef>
        {{getSubHeader(field)}}
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <ng-container *ngIf="showWeight()">
      <tr mat-header-row *matHeaderRowDef="subheader"></tr>
    </ng-container>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<h1 *ngIf="!dataFetching && noResultsError"> Нет данных опроса</h1>
