<div class="login_form_container">
  <mat-card class="login_form_card">
    <mat-card-title>
      Авторизация
    </mat-card-title>
    <mat-card-content>
      <div class="login_form">
        <mat-form-field>
          <input matInput [formControl]="login" placeholder="Логин">
        </mat-form-field>
        <mat-form-field>
          <input matInput [formControl]="password" placeholder="Пароль" type="password">
        </mat-form-field>
      </div>
      <mat-error *ngIf="isErrorLogin">Пользователь не найден</mat-error>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onLoginClick()">Войти</button>
      <button mat-button style="margin-top: 20px" color="primary" (click)="onRegisterClick()">Регистрация</button>
    </mat-card-actions>
  </mat-card>
</div>
