<app-subtitle title="Редактирование"
              [showBackAction]="true"
              (backAction)="back()"
></app-subtitle>

<div class="content-container">
  <div class="content-fitter">
<!--    <button style="margin-bottom: 10px" mat-raised-button class="back-button" color="primary" (click)="back()">Назад-->
<!--    </button>-->
    <mat-tab-group *ngIf="matrix">
      <mat-tab label="Матрица">
        <h3 class="header_name">{{matrix.name}}</h3>

        <button mat-raised-button color="primary" (click)="addOpros()">Новый опрос</button>

        <h4 style="margin-top: 50px">Результаты опросов</h4>
        <app-oproses-viewer [oproses]="matrix.oprosList" (updateAction)="updateMatrix($event)">

        </app-oproses-viewer>
      </mat-tab>
      <mat-tab label="Критерии">
        <app-criterias-editor [criterias]="matrix.criteriaSet"
                              [hasWeight]="matrix.useCoefficient"
                              [matrixId]="matrix.id">
        </app-criterias-editor>
      </mat-tab>
      <mat-tab label="Сущности">
        <app-entitys-editor [entitys]="matrix.matrixEntities"
                            [matrixId]="matrix.id">

        </app-entitys-editor>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>


