<div class="content-container">
  <div class="content-fitter">

    <div *ngIf="testPrepared">
      <!--  <div>-->
      <!--    <button mat-raised-button [color]="i==currQuestionIndex ? 'warn' : q.completed ? 'primary' : 'accent'" *ngFor="let q of testToDo.questions; let i=index"-->
      <!--            style="margin-right: 5px" (click)="selectQuestion(i)">-->
      <!--      {{i+1}}-->
      <!--    </button>-->
      <!--  </div>-->


      <div class="question-box mat-elevation-z2 noselect">
        {{testToDo.questions[currQuestionIndex].text}}
      </div>


      <div class="action-buttons">
        <span class="toolbar_spacer"></span>
        <span>
      <button mat-raised-button color="accent"
              (click)="nextQuestion()"
      >
        Пропустить вопрос
      </button>
      </span>
      </div>

      <div class="answers">
        <div *ngFor="let answer of testToDo.questions[currQuestionIndex].answers"
             class="answer mat-elevation-z2 noselect" [style.background]="answer.checked ? '#b3e5fc' : 'none'"
             (click)="chooseAnswer(answer.id)"
        >
          {{answer.text}}
        </div>

      </div>

      <div class="action-buttons">
        <span class="toolbar_spacer"></span>
        <span>
      <button mat-raised-button color="primary"
              (click)="saveAnswer()"
      >
        Сохранить
      </button>
      </span>
      </div>
    </div>
  </div>
</div>
