.question-box {
  min-height: 100px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 20px;
  border-radius: 10px;
  padding: 30px 10px 10px;
  text-align: center;

}

.action-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.answers {
  margin-top: 20px;
}

.answer {
  margin-top: 10px;
  border-radius: 5px;
  min-height: 20px;
  padding: 10px 10px 10px;
  cursor: pointer;

}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}
