<h3>{{text}}</h3>
<div class="buttons-block">
  <button mat-raised-button type="submit" color="accent" (click)="onSubmit()">Да</button>
  <button mat-button type="button" color="accent" style="margin-top: 10px" (click)="onCancel()">Отмена</button>
</div>
