/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.main-page-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.app-toolbar {
}

.subtitle {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hide-scrolling {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrolling::-webkit-scrollbar {
  display: none;
}

.subpage-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  //background-color: orangered;
  height: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 10px;
  box-sizing: border-box;
}

.content-fitter {
  width: 765px;
}


.content-container-no-header {
  width: 98vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

@media (max-width: 668px) {
  .content-fitter {
    width: 100%;
  }
}


.navigation-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}



